
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/UserArea/Views/Shared/_ProjectLayout.cshtml";
}

<h2>Welcome To Home</h2>
<h2>
    Welcome ! @Session["UserName"]
     
</h2>@*<h2>@Html.ActionLink("SignIn", "SignIn", "ManageUser")</h2>*@
 
